@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body::-webkit-scrollbar {
        display: none;
    }

    @font-face {
        font-family: 'Space Grotesk';
        src: url('/reveal/space-grotesk-semibold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    .reveal {
        text-align: left !important;
    }

    .reveal .slides {
        text-align: left !important;
    }


    .slides h2,
    .execute {
        background-color: #7552ec;
        color: white;
        font: 700 'Space Grotesk', helvetica, arial, 'sans-serif' !important;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .hack-editor {
        font-family: monospace;
        border: none;
        box-shadow: none !important;
    }

    .execute {
        display: inline-block;
        font-size: 2.2em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .fade-out {
        animation: 3s ease-out 2s 1 normal forwards running fadeout;
    }

    @keyframes fadeout {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}